@import "../../styles/vars";

.header {
    background-color: $background2;
}

.navLinks {
    color: $textColor1;
    cursor: pointer;
    &:hover {
        color: $textColor2;
    }
    @media(max-width: 767px) {
        margin-bottom: 40px;
        text-align: center;
        &:hover {
            color: white;
        }
    }
}
.logo {
    color: $textColor1;
    cursor: pointer;
    &:hover {
        color: $textColor2;
    }
}

.link {
    color: $textColor1;
    cursor: pointer;
    &:hover {
        color: $textColor2;
    }
}
