.search {
    cursor: pointer;
    width: 40px;
    display: flex;
    justify-content: center;
    transition: all 1s ease;
}

.searchName {
    display: flex;
    justify-content: space-between;
    @media (max-width: 410px) {
        flex-direction: column;
    }
    &__phone {
        margin-top: 31px;
        color: black;
    }
}

.searchBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.memory__items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btnSearch{
    display: flex;
    justify-content: center;
}
