.totalCost {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    &__cost {
        color: black;
    }
}

.cleanAndBuy {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}