@import "./libs/normalize";
@import "./tailwind.css";
@import "./vars";
@import "./productsCart";

body {
    background-color: $background1;
    color: $textColor1;
}

[class*="__container"] {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    position: sticky;
    z-index: 1;
}

.main {
    flex: 1 1 auto;
}

.phonePages {
    margin: 50px 0;
    display: grid;
    width: 100%;
    grid-template: 1fr / repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-items: center;

    @media (max-width: 1351px) {
        grid-template: 1fr / repeat(3, 1fr);
    }
    @media (max-width: 1018px) {
        grid-template: 1fr / repeat(2, 1fr);
    }
    @media (max-width: 672px) {
        grid-template: 1fr / repeat(1, 1fr);
    }

    .card {
        background-color: $background2;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 450px;
        align-items: center;
        justify-content: space-around;

        @media (max-width: 327px) {
            width: 250px;
            height: 380px;
        }

        &:hover {
            border: 0.5px solid white;
        }

        &__img {
            width: 90%;
        }

        &__img:hover ~ .card__title {
            color: $textColor2;
        }

        &__title {
            font-size: 1.2rem;
            text-align: center;
            width: 222px;
            color: $textColor1;
            cursor: pointer;
            margin: 10px 0;
            &:hover {
                color: $textColor2;
            }
        }

        &__line {
            width: 222px;
            height: 1px;
            background-color: white;
        }

        &__buy {
            margin: 10px 0;
            width: 222px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__price {
            font-size: 1.2rem;
            color: $textColor1;
        }
    }
}